.card {
    width: 754px;
    height: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    font-family: -apple-system,BlinkMacSystemFont,Inter,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 24px;
}

.body {
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 0.5rem;
}

.title {
    grid-column: 1;
    grid-row: 1;
    color: #0969da;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.title:hover {
    color: #054691;
}

.essentials {
    white-space: nowrap;
}

.essentialsItem, .salaryYear {
    color: #757575;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
}

.salaryMo {
    color: #198754;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

.salaryYear {
    text-align: right;
}

.description {
    margin-bottom: 4px;
    color: #222222;
    padding-bottom: 1rem;
    line-height: 1.4;
    max-height: 14.1rem;
    overflow: hidden;
}

.descOpen {
    overflow: none;
    max-height: fit-content;
}

.skillsGroup {
    display: flex;
    flex-wrap: wrap;
}

.skillContainer {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.3;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 4.9px 9.1px;
    color: #222222;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    border-top: 1px solid #ebebeb;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

.actionButtonsGroup {
    display: flex;
}

.actionButton {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: #1a73dc;
}

.actionButton svg {
    fill: #1a73dc;
    margin-right: 0.3rem;
}

.actionButton:hover,
.actionButton:hover svg {
    fill: #4675ad;
    color: #4675ad;
}

.viewsContainer {
    display: flex;
    align-items: center;
    color: #757575;
}

.viewsContainer svg {
    margin-right: 5px;
}

.readMore {
    color: #0a69da;
    cursor: pointer;
    margin-bottom: 1rem;
}

.readMore:hover {
    color: #054691;
}

/* Mobile */
@media only screen and (max-width: 700px) {
    .card {
        width: 100%;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0.5rem;
    }

    .title,
    .salaryMo,
    .salaryYear,
    .essentialsItem {
        grid-column: 1;
        text-align: left;
        margin-bottom: 0.6rem;
    }

    .salaryMo {
        grid-row: 2;
    }

    .salaryYear {
        grid-row: 3;
    }

    .essentials {
        margin-top: 0.4rem;
        grid-row: 4;
        max-width: 80%;
    }

    .description {
        line-height: 1.4;
        max-height: calc(1.4em * 10); /* Adjust this value as needed */
        overflow: hidden;
        margin-bottom: 0.5rem;
    }

    .readMore {
        margin-bottom: 1rem;
    }

    .descOpen {
        overflow: none;
        max-height: fit-content;
    }
}


