.searchContainer {
    display: flex;
}

.searchbar {
    border: 1px;
    padding: 6px 12px 8px 12px;
    border-radius: 8px 0 0 8px;
    width: 100%;
    height: 40px;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    transition-duration: 0.15s, 0.15s;
    -webkit-font-smoothing: antialiased;
    font-family: apple-system,BlinkMacSystemFont,Inter,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background: transparent;
}

.searchbar:focus {
    outline-width: 0;
    border-color: #6aabf9;
    box-shadow: 0px 0px 0px 3px #c2d9f6;
}

/* clears the ‘X’ from Internet Explorer */
.searchbar::-ms-clear { 
    display: none; 
    width : 0; 
    height: 0; 
}

.searchbar::-ms-reveal { 
    display: none; 
    width : 0; height: 
    0; 
}

/* clears the ‘X’ from Chrome */
.searchbar::-webkit-search-decoration,
.searchbar::-webkit-search-cancel-button,
.searchbar::-webkit-search-results-button,
.searchbar::-webkit-search-results-decoration { 
    display: none; 
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 40px;
    background-color: #0a69da;
    border-radius: 0 8px 8px 0;
    border: 0;
    cursor: pointer;
    transition-duration: 0.15s, 0.15s;
}

.searchButton:hover {
    background-color: #0756b5;
}

.searchButtonArrow {
    fill: white;
}

.radioButtonsGroup {
    display: flex;
    margin: 10px 0 16px 0;
    height: 100%;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
}

.radioButton {
    position: absolute;
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 0;
    order: 1;
}

.radioLabel {
    padding-left: 8px;
    font-family: -apple-system,BlinkMacSystemFont,Inter,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 28px;
    cursor: pointer;
    order: 2;
    color: black;
}

.radio span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    content: "";
    background-color: #fff;
    border: 2px solid #ebebeb;
    border-radius: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

.radioButton:checked ~ span:before {
    border: 4.5px solid #0a69da;
}

.radioButton:focus ~ span:before {
    outline: none;
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
}

/* Mobile */
@media only screen and (max-width: 700px) {

    .searchbar {
        color: black;
    }

   .radioButtonsGroup {
        /* hardcode */
        flex-wrap: wrap;
   }

   .radioLabel {
        width: auto; 
        display: inline-block;
        -webkit-tap-highlight-color: transparent; 
    }

    .radioButton ~ span:before {
        transition: border 0.3s ease; /* Adjust '0.5s' to control speed */
    }
    
    .radioButton:checked ~ span:before {
        border: 4.5px solid #0a69da; /* Checked state border style */
    }    
    
}